<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3> <img src="./assets/icons/search_big.png" width="50"> BUSCADOR AVANZADO </h3>
                </div>
                <div class="panel-body">
                    <app-advancedform (updateTable)="changeListEdicts($event)"></app-advancedform>
                    <app-tableresult [listEdicts]="listEdicts"></app-tableresult>
                </div>
            </div>
        </div>
    </div>
</div>
