<div class="row">
    <div class="col-lg-7 col-md-8 col-sm-6">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">Buscar de edictos</span>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="Buscar edictos...">
            </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6">
        <button type="button" class="btn btn-primary">
        Buscar edictos 
        </button>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <a href="#">  Buscador avanzado </a>
    </div>

</div>