<div class="row">
    <div class="col-lg-7 col-md-8 col-sm-6">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">BUSCADOR DE EDICTOS</span>
                <input type="text" class="form-control" id="basic-url" [(ngModel)]="searchQuery.query" aria-describedby="basic-addon3" placeholder="Buscar edictos...">
            </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6">
        <button type="button" class="btn btn-primary" (click)="searchText()">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> BUSCAR
        </button>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <a [routerLink]="['/advancedsearch']">  <img src="./assets/icons/search.png"> Buscador avanzado </a>
    </div>

</div>
