<app-detailedict></app-detailedict>
<div class="row">
    <div class="col-lg-12">
        <!-- Table -->
        <h2>Lista de resultados</h2>
        <p>Esta es la lista de resultados de la busqueda de edictos:</p>            
        <div class="table-responsive">
            <table class="table table-hover">
            <thead>
                <tr>
                  <th>Codigo</th>
                  <th>Titulo</th>
                  <th>Tipo</th>
                  <th>Periodico</th>
                  <th>Departamento</th>
                  <th>Fecha</th>
                  <th>Acciones</th>   
                </tr>
            </thead>
            <tbody id="myTable" *ngIf="listEdicts">
                <tr *ngFor="let edict of listEdicts.edicts">
                  <td>{{ edict.codeEdict }}</td>
                  <td>{{ edict.titleEdict }}</td>
                  <td>{{ edict.typeEdict }}</td>
                  <td>{{ edict.departamentEdict }}</td>
                  <td>{{ edict.newspaperEdict }}</td>
                  <td>{{ edict.dateEdict }}</td>
                  <td><a data-target="#detailEdictModal" >Detallar</a></td>
                </tr>
            </tbody>
            <tbody id="myTable" *ngIf="!listEdicts">
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
            </tbody>
          </table>   
        </div>
        <div class="col-md-12 text-center">
                <ul class="pagination">
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                </ul> 
        </div>
    </div>
    
</div>
