body{
    background: url(./assets/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.btn-group-lg > .btn, .btn-lg{
    font-size: 15px !important;
}
